
#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: #dcdcdc;
}
#submit{background-color:rgb(20, 156, 150);}
.button{
    background: rgb(24, 197, 189);
    border-radius: 100px;
    padding: 6px 25px;
    display: inline-block;   
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
	margin-left: 60px;
}
.button:hover{
box-shadow: 2px 2px 2px #c9c8c8;
transition:1s;
}
.disabled {
  display:none;
}
label{font-size:12px;}
section {
  padding: 30px 45px 25px;
  
  
  background:#dcdcdc;
  background:rgba(255,255,255,0.8);
  backdrop-filter:blur(10px);
 
  border-radius:10px;
  transition:transform 0.2s ease-in-out;
}

input {
  width: 100%;
  margin: 5px 0px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}

.post-job{margin-top:75px;
border: solid 1px #e4e4e4;
border-radius: 3px;}
.col-sm-12.p-m-3.last-row{padding-left:0px;
padding-right:0px;}
.p-m-1{margin-bottom:15px;}
.p-m-2{margin-bottom:15px;}
.p-m-3{margin-bottom:15px;}
.p-m-4{margin-bottom:15px;}
.p-m-5{margin-bottom:15px;}
.p-m-6{margin-bottom:15px;}
.p-m-7{margin-bottom:15px;}
.p-m-8{margin-bottom:15px;}
.p-m-9{margin-bottom:15px;}


/*active ajob*/
.btn_all {
    color: #539617;
    background-color: #fff;
    height: 35px;
    width: 70px;
    border: solid 1px;
    border-radius: 50px;
}
	
.btn_all:hover {
    color: #fff;
    background-color: #a6e026;
    border-color: #87cf56;
}
.all_dropdown{float:left;margin-right:20px;}
.btn_sort{
	color: #319fda;
    background-color: #fff;
    height: 35px;
    width: 70px;
    border: solid 1px;
    border-radius: 50px;
	}
.btn_sort:hover{
	color: #fff;
    background-color: #44afe1;
    border-color: #168bd8;}	

.hide_btn{margin-top:20px;}
#myDIV {
  width: 100%;
  
  background-color:#eef7fa;
  margin-top: 20px;
}
.horizontal_box {
    width: 7%;
    background-color: #a9e224;
    height: 140px;
    padding: 0px;
}
.try_bt{
height: 30px;
    width: 70px;
    border: none;
    background-color: #a3df2d;
    color: #fff;
	
	}
.horizontal_box{position:relative;
width: 3%;
    background-color: #a9e224;
    height: 270px;
    padding: 0px;
    margin-left: 15px;}	
.p-i {
    position: absolute;
    top: 19px;
    right: -24px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 35px;
    border: solid 2px #73b102;
	text-align:center;
}
.details-box {
    padding: 30px 0px;
}
.head-box strong{line-height:3;}
.head-box-a strong{line-height:3;
font-weight: 400;}
.bg-lb:hover .p-i{color:#fff;
				background-color:#62a910;}
button.apply-cv-btn {
    padding: 8px 20px;
    border-radius: 40px;
    border: solid 2px #F44336;
    background-color: #fff;
    color: #000;
}	
button.apply-cv-btn:hover{background-color:#F44336;
/*new*/

color:#fff;}
.all_b {
    float: left;
    margin-right: 30px;
    background-color: #fff;
   padding: 3px 32px;
    border-radius: 20px;
    border: solid 1px #a7e126;
}
.sort_b {
    background-color: #fff;
   padding: 3px 32px;
    border-radius: 20px;
    border: solid 1px #a7e126;
}
.seperate-btn {
    margin-top:34px;
}
.active_save_btn{background-color:#a7e126;
color:#fff;}
.sort_b:hover{background-color:#a7e126;
color:#fff;}
.all_b:hover{background-color:#a7e126;
color:#fff;}
.job-voucher{background-color:#fff;border-radius:3px;height:130px;padding: 15px 20px 15px 20px;box-shadow: 0px 2px 6px #00000038;
line-height:20px;}
.dimen_img-s{height:60px;
			width:60px;float:left;margin-right: 20px;
			margin-bottom:20px;}





.dimen_img-s{height:60px;
width:60px;}	
.job_title{font-size:18px;
		cursor: pointer;
		margin-bottom:10px;
		}
.job_title:hover{text-decoration:underline;}		
.organization {
    color: #868383;
	font-size: 12px;
}
.location{color: #868383;
font-size: 12px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: 0px;
    right: 0px;
    color: inherit;
}
.job_dis_btn{padding: 2px 16px;
    border: none;
    margin-left: 79px;
   
	font-size:12px;}
.job_dis_btn:hover{
background-color: #81c3f8;
    color: #fff;
}
.apply_job_btn {
    float: right;
    background-color: #fff;
    padding: 2px 21px;
    border: solid 1px #18c5bd;
    color: #159d96;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    border-radius: 29px;
    margin-top: -5px;
}
.apply_job_btn:hover{
	 background-color:#159d96;
	 color: #fff;
	 transition:0.7s;
	}
.bd-2 {
    margin-top: 20px;
	padding:0px;
}	
/*end*/



.dropdown.right-arrow {
    position: absolute;
    top: -3px;
    right: 69px;
    border: none;
}
.btn{padding:0px;}
.btn-default{border:none;font-size: 20px;}
.btn-default:hover{
	background-color:#fff;
	border:none;}
.dropdown-menu li {
    font-size: 11px;
    padding: 8px 13px;
    cursor: pointer;
}	








.fade-rotate {
  transform: rotate(180deg);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.fade-rotate.in {
  opacity: 1;
  transform: rotate(0deg);
}
.fade-rotate .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
}

input{padding:7px 25px;}
.modal-footer{text-align: end;
    margin-right: 47px;}

.modal-body {
    padding: 0px 65px;
}
button.btn-save {
    font-size: 12px;
    padding: 10px 52px;
    background-color: #14a99b;
    color: #fff;
    border: none;
	border-radius:20px;
	box-shadow: 2px 2px 6px #a8a4a4;

}
.modal-content {
    background-image: linear-gradient(#18c5bd, #d4efec);
}
.sendEmail label{color:#fff;font-size:13px;}
.sendEmail input{background-color: #f3f7f663;}
.sendEmail textarea.form-control{background-color:#fbffff80;}
@media (min-width: 768px){
.modal-dialog {
    width: 460px;
    margin: 30px auto;
}
}

.fade-rotate .modal-dialog{top:45%;}
.modal-footer{border-top:none;}
.modal-header{border-bottom:none;}
button.btn-save:hover{background-color:#0e776d;
transition:0.9s;color:#fff;}


/*post new job*/

.active-job label {
    /* -webkit-perspective: 1000px; */
    /* perspective: 1000px; */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}



.card {
    position: relative;
    /* height: 100%; */
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    border-radius: 13px !important;
    padding: 0px;
    margin-bottom: 20px;
}

    .card div {
       
        background: #fff;
        
       
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 13px !important;
    }

   .card .back {
        background: #222;
       
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }



input {
    display: none;
}
/*
:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}
*/
    
.dropdown-menu>li>a{padding:3px 20px;}
.front{padding:11px;height:248px;}
.job-info {
    margin-left: 55px;
	margin-top:-4px;
	
}
li.left-title {
    list-style-type: none;
    float: left;
	font-size: 12px;
    font-weight: 100;
	width:83px;
	height:15px;
}
li.right-title {
    list-style-type: none;
	font-size: 12px;
    font-weight: 100;
	width:175px;
}
.icon-info {
    margin-left:60px;
	margin-bottom:10px;
}
li.left-icon-title{
	 list-style-type: none;
    float: left;
}
.left-icon-title i{color:#18c5bd;}
li.right-icon-title {
    list-style-type: none;
    float: left;
    margin-right: 20px;
	font-weight:100;
}
.front .dropdown {
    top: -8px;
    width: 63px;
    position: absolute;
    right: 0px;
}
.detail-btn{
    background-color: #fff;
    padding: 3px 19px;
    border-radius: 20px;
    background-color: #18c5bd;
    border: none;
    color: #fff;
    font-weight: 100;
	margin-top:10px;
	float:right;}
.detail-btn:hover{
    background-color:#107773;
	transition:0.8s; 
}
.following-info {
    float: left;
	line-height:24px;
	
}
.following-info2 {
    margin-left:190px;
	line-height:24px;
}
.active-span{
   position: absolute;
    top: 12px;
    left: 405px;
    background-color: #8BC34A;
    padding: 1px 17px;
    border-radius: 9px;
    color: #fff;
    font-size: 11px;
}

.pasive-span{
   position: absolute;
    top: 12px;
    left: 405px;
    background-color: red;
    padding: 1px 17px;
    border-radius: 9px;
    color: #fff;
    font-size: 11px;
}

.following-info3 {
    float: right;
    margin-top: -144px;
   
	line-height:24px;
}

    
/*skills css*/
#submit {
   
    border: none;
}
.post-job {
    margin-bottom: 20px;
}
div#next {
    margin-right: 58px;
}
.btn-default1:not(:checked) + span{
 background-color:#CCC;
    display: inline-block;
    width: 100%;     
    color: #fff;
    padding: 5px 12px !important;   
    font-size: 11px;
	border-radius:13px !important;
	color: #333; }	
	     
	
:checked + span {
    background: #18c5bd !important;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 5px 12px !important;   
    font-size: 11px;
	border-radius:13px !important; }
ul.rating-comments label {float:left;
margin-right: 10px;
    margin-bottom: 10px;}    
ul.rating-comments {    
    margin-left: -40px;
}
.button:hover {
    box-shadow: 2px 2px 4px #bbbaba;
  
}