.profile-accoutnt-p {
    margin-top: -33px;
    margin-left: 76px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.invitetion-box {
    background-color: #fff;
    margin-top: 65px;
    padding: 10px 20px;   
}
.invitation-img{width:70px;height:70px;
box-shadow: -1px 1px 2px #0000001f;
    border-radius: 5px;
	float:left;margin-right: 20px;
}
.salary-info{font-size:12px;
			color:#8a8b8c;}
.invi-div {
    line-height: 17px;
	cursor:pointer;
	margin-bottom:20px;
	border-radius:13px;}	

.location-inv {
    
    width: 160px;
    height: 25px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
	float:left;
	cursor:pointer;
}
.location-inv:hover{color:#000;}

.year-inv {
    width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
}
.year-inv:hover{color:#000;}
.last-row-invitation ul li{float:left;
margin-right:20px;
list-style-type:none;}
.calender-inv{
	width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
	}
.calender-inv:hover{color:#000;}	
.fulltime-inv{
	width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
	}	
.fulltime-inv:hover{color:#000;}	
.detail-b {
    background-color: #ffffff;
    height: 20px;
   
    width: 65px;
    padding: 2px;
    line-height: 14px;
    text-align: center;
    color: #828282;
    margin-left: 90px;
    cursor: pointer;
    border-radius: 30px;
    border: solid 1px #bcbcbc;
    font-size: 11px;   
}
.detail-b:hover{
	 background-color:#bcbcbc;
	 color:#fff;
	}
.apply-invi{float: right;
    background-color:#18c5bd;
    padding: 5px 35px;
   border:none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;       
    cursor: pointer;   
    border-radius: 50px;
    margin-top: -70px;	
}
.apply-invi:hover{
 background-color:#13928c;
   
}


.head-invi{font-size:18px;cursor: pointer;}
.head-invi:hover{text-decoration:underline;}
.box {
   
    font-size: 20px;
    color: #747574;
	margin-bottom:15px;
    
}
.more-btn{background-color: white;
    border: solid 2px #167dc1;
    padding: 7px 20px;
    border-radius:4px;
	color:#167dc1;}
.more-btn:hover{background-color:#167dc1;
    border: solid 2px #167dc1;
   
	color:#fff;}	
.btn-more{text-align:center;
	margin:20px 0px;}
.box ul li{float:left;
list-style-type:none;
margin-right:20PX;}
.ocen-activities{margin-top:80px;}
<!--DETAILS CSS-->

.details_box {
    background-color:#fdfeff;
    margin-top: 79px;
    padding: 10px;
    box-shadow: 1px 1px 5px #dfdcdc;
	margin-bottom:20px;
}
.jobinfolist li h4 {
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    width: 46%;
    float: left;
}
.jobinfolist li strong {
    color: #747575;
    font-weight: 400;
    font-size: 11px;
    float: left;
    width: 54%;
    line-height: 18px;
    margin-top: 7px;
}
.jobinfolist {
    margin-left: 0 !important;
}
.jobinfolist li:after {
    display: table;
    clear: both;
    content: '';
}
.jobinfolist li {
    padding-left: 0 !important;
    padding: 0px 0 !important;
   
    line-height: 7px !important;
    list-style-type: none;
}
.job-header .contentbox ul li {
    padding: 8px 0 8px 25px;
    position: relative;
    line-height: 24px;
}
.jd{margin-left:40px;}
.jd p{font-size: 12px;
    color: #696767;
}
.jd-require{margin-left:40px;}
button.apply-cv:hover{  
background-color:#88c721 !important;
color:#fff;
}

button.apply-cv {
  padding: 7px 20px;
    color: #fff;
    background-color: #fbfbfb !important;
    font-size: 12px;
    margin-top: 9px;
    margin-bottom: 20px;
    border: solid 2px #8BC34A;
    border-radius: 40px;
    background-color: transperant;
    color: #67b03d;
} 
.swal-title {
    color: rgba(0, 0, 0, 0.82);
    font-weight: inherit;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.swal-button {
    background-color:#4ac728;
}
.example button {
  float: left;
  background-color: #4E3E55;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer; 
}
.example button:focus{
  outline: none; 
}
.job-logo {
    text-align: center;
    margin-bottom: 20px;
	
}
.example button:hover{
  background-color: #33DE23; 
}
.example button:active{
  background-color: #81ccee; 
}
.swal-button:not([disabled]):hover {
    background-color: #10d818;
}
.swal-footer{text-align:center !important;}
.swal-text{display:none;}
.job-disc-logo{height:50px;
width:50px;
box-shadow: 1px 1px 4px #c7c2c2;
border-radius:5px;
cursor: pointer;}

<!---ivitation activites css  --->
.invitetion-box {
    background-color: #fff;
    margin-top: 65px;
    padding: 10px 20px;
}
.invitation-img{width:70px;height:70px;
box-shadow: -1px 1px 2px #0000001f;
    border-radius: 5px;
	float:left;margin-right: 20px;
}
.salary-info{font-size:12px;
			color:#8a8b8c;}
.location-inv {
    width: 160px;
   
    height: 25px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
	float:left;
	cursor:pointer;
}
.location-inv:hover{color:#000;}
.last-row-invitation {
    margin-left: 48px;
	margin-bottom:33px;
}
.year-inv {           
    width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
}
.year-inv:hover{color:#000;}
.last-row-invitation ul li{float:left;
margin-right:20px;
list-style-type:none;}
.calender-inv{
	width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
	}
.calender-inv:hover{color:#000;}	
.fulltime-inv{
	width: auto;
    height: 25px;
    background-color:#f1f1f1;
    text-align: center;
    line-height: 25px;
    border-radius: 40px;
    padding: 0px 12px;
	cursor:pointer;
	}	
.fulltime-inv:hover{color:#000;}	
.detail-b {
    background-color: #ffffff;
    height: 20px;
   
    width: 50px;
    padding: 2px;
    line-height: 14px;
    text-align: center;
    color: #828282;
    margin-left: 90px;
    cursor: pointer;
    border-radius: 30px;
    border: solid 1px #bcbcbc;
    font-size: 11px;
}
.detail-b:hover{
	 background-color:#bcbcbc;
	 color:#fff;
	}
.invi-div {   
   background-color:#fff;
    padding: 15px 10px;
	box-shadow: 0 0 5px #cac8c8;
}     
.invi-div:hover{
box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
}
     

.head-invi{font-size:18px;cursor: pointer;}      
.head-invi:hover{text-decoration:underline;}
.box {   
   
    font-size: 20px;
    color: #747574;
	margin-bottom:15px;
  
}
.more-btn{background-color: white;
    border: solid 2px #167dc1;
    padding: 7px 20px;
    border-radius:4px;
	color:#167dc1;}
.more-btn:hover{background-color:#167dc1;
    border: solid 2px #167dc1;
   
	color:#fff;}	
.btn-more{text-align:center;
	margin:20px 0px;}
.box ul li{float:left;
list-style-type:none;
margin-right:20PX;}
.ocen-activities{margin-top:80px;}

