.profile-section{margin:77px 0px 25px 0px;padding:15px 20px;
border:solid 1px #CCC;background-color:#fdfeff;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background-color:#88b820;
																				color:#fff;border:none;margin-bottom:1px;border-radius: 30px;}

.nav-tabs>li{margin-right:20px;}

.nav-tabs>li.active a {
    color: #fff !important;
    border: none;
    background-color: #95ca24;
	border-radius: 30px;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color:#95ca24;
    color: #fff;
	border-radius: 30px;
}
.nav-tabs>li:hover{  background-color:#95ca24;border-radius: 30px;}
.nav-tabs>li:focus{ background-color:#95ca24;border-radius: 30px;}
.nav>li>a:focus{
	text-decoration: none;
    background-color: #95ca24;
    color: #fff;
	border-radius: 30px;
	}
.nav>li>a:active{
	 text-decoration: none;
    background-color: #95ca24;
    color: #fff;
	border-radius: 30px;
	}
.nav-tabs>li.active a {
	text-decoration: none;
    background-color:#18c5bd;
    color: #fff;
	border-radius: 30px;
	}		
.nav>li>a:focus, .nav>li>a:hover {
     text-decoration: none !important;
   border-radius: 30px;
}

.nav-tabs>li.active{
	color: #93d643;
    cursor: default;   
	 background-color:#18c5bd;
    color: #fff;
border-radius: 30px;
  }
.nav-tabs{border-bottom:none;} 
  
.nav-tabs ul li a{color:#fff;font-size:12px;border-radius: 30px;}  
 .nav-tabs>li>a{border:none;line-height:normal;margin-right:0px !important;} 
.nav-tabs>li.active a{color:#3310bf;border:none;}
.nav-tabs>li.active>a:hover{border:none;}
.nav-tabs>li>a:hover{border:none !important;}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #000;
    font-size: 12px;
}
.uplode-resume {
    margin-bottom: 25px;
}
.Profile-summery {
    margin-bottom: 25px;
}
.input#txt_media {
    margin-bottom: 10px;
}
button.save-apply-btn {
   padding: 7px 45px;
    float: right;
    border: solid 2px #F44336;
    border-radius: 39px;
    background-color: #f44336;
    color: #fff;
    margin-top: 30px;
}




.jobinfolist li h4 {
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    width: 46%;
    float: left;
}
.jobinfolist li strong {
    color: #719b0d;
    font-weight: 400;
    font-size: 11px;
    float: left;
    width: 54%;
    line-height: 18px;
    margin-top: 7px;
}
.jobinfolist {
    margin-left: 0 !important;
}
.jobinfolist li:after {
    display: table;
    clear: both;
    content: '';
}
.jobinfolist li {
    padding-left: 0 !important;
    padding: 0px 0 !important;
   
    line-height: 7px !important;
    list-style-type: none;
}
.job-header .contentbox ul li {
    padding: 8px 0 8px 25px;
    position: relative;
    line-height: 24px;
}
.nav-tabs{margin-bottom:15px;
    border-bottom: solid 1px #89d05373;
    padding-bottom: 15px;}

.uplode-resume .form-control{width:31%;}
.modal-header {
    border: none;
  
    background-image: linear-gradient(to right, #ace41e , #2196F3);
    box-shadow: 2px 2px 6px #d6cfcfc2;
}
.form-horizontal .control-label{color:#075b23;}
.modal-title {
    margin: 0px 51px;
    line-height: 1.42857143;
    color: #fff;
    font-size: 18px;
}
.tab-content {
    margin-bottom: 63px;
}
li.bullet {
    border-bottom: solid 1px beige;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.uplode-resume .form-control {
    background-color: #0868af;
    color: #FFF;
    border: 1px solid #4da8e4;
}.img-circle {
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to right, #ace41e , #2196F3);
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
}
input[type=file] {
    display: block !important;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
input.text-center.center-block.file-upload {
    margin-left: 74px;
}

.edu-i{
font-weight: 900;
    background-color: #fff;
    padding: 20px;
    border-radius: 55px;
	position:absolute;
	color:#a6e126;
}